/* common */

body {
    margin: 0;
    padding: 0;

    font-family: 'Quicksand', Courier, monospace;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: black;
    transition-duration: 200ms;
}

a:hover,
a:active {
    color: #5E81FE;
}

.button {
    display: block;
    padding: 13px 22px;
    
    font-size: 13px;
    font-weight: bold;

    border: 1px solid;
    border-radius: 2px;
    transition-duration: 200ms;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

.wrap {
    width: 100%;
}

.slider-button {
    display: block;
    width: 8px;
    height: 8px;
    padding: 0;
    margin-right: 12px;

    background-color: #D1D6E3;
    border: none;
    border-radius: 50%;
}

.slider-button:hover,
.slider-button:active {
    background-color: #5E81FE;
}

/* header */

.main-header {
    display: flex;
    width: 1440px;
    min-height: 80px;
    margin: auto;
    align-items: flex-start;

    /* border: 1px dashed; */
}

.header__nav .nav__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 160px;
    position: relative;
}

.header__nav .nav__list::before {
    content: "";
    width: 26px;
    height: 26px;
    left: -55px;
    top: -2px;
    position: absolute;

    background-color: #5E81FE;
    border-radius: 50%;
}

.header__nav .nav__item {
    margin-left: 46px;
}

.nav__list a{
    font-size: 12px;
    font-weight: bold;
}

.nav__list a:hover,
.nav__list a:active{
    color: #5E81FE;
}

.main-header .header__services-list{
    display: flex;
    margin-left: 346px;
    margin-top: 30px;
}

.header__services-list .services-item {
    margin-left: 35px;
}

.services-item:hover path,
.services-item:active path {
    fill: #5E81FE;
}

.main-header .header__start-button {
    margin-left: 44px;
    margin-top: 19px;

    color: #5E81FE;
    background-color: #D2E1FF;
    border: none;
}

.main-header .header__start-button:hover {
    color: #D2E1FF;
    background-color: #5E81FE;
}

/* advantages */

.advantages {
    margin: auto;
    width: 1440px;
    min-height: 582px;
}

.advantages__wrap{
    background-color: #fff;
    background-image: url("img/header-back.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.advantages .advantages__item{
    padding-top: 92px;
}

.advantages .advantage__slogan {
    margin-left: 673px;

    text-transform: uppercase;
    font-size: 10px;
    font-weight: bolder;
    color: #3D4F9F;
}

.advantages .advantage__name {
    margin: 0;
    margin-top: 12px;
    margin-left: 420px;
    width: 600px;

    text-align: center;
    font-size: 48px;
    font-weight: lighter;
}

.advantages .advantage__description {
    width: 502px;
    margin-left: 469px;
    margin-top: 22px;

    line-height: 191%;
    text-align: center;
}

.advantages .advantage__button {
    display: block;
    width: 52px;
    height: 52px;
    margin-left: 694px;
    position: relative;

    border-radius: 50%;
    background-color: #fff;
}

.advantages .advantage__button::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 11px;
    top: 20px;
    left: 20px;
    
    background-image: url("img/play.svg");
}

.advantages .advantage__button:hover,
.advantages .advantage__button:active {
    background-color: #5E81FE;
}


.advantages .advantage__button:hover::before,
.advantages .advantage__button:active::before {
    background-image: url("img/play-active.svg");
}

.advantages__slider__buttons-list {
    display: flex;
    margin-left: 696px;
    margin-top: 180px;
}

/* customers */

.customers {
    margin: auto;
    width: 1440px;
    min-height: 146px;
}

.customers .customers__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 58px;
    margin-left: 276px;
}

.customers__list .customers__item {
    margin-right: 76.5px;
}

.customers__list .customers__item:hover path {
    fill: #5E81FE;
}

/* plan */

.plan__wrap {
    background-color: #F5F8FF;
}

.plan {
    width: 1440px;
    height: 590px;
    margin: auto;
    padding-top: 208px;
    padding-left: 332px;

    background-image: url("img/plan-illustration.png");
    background-repeat: no-repeat;
    background-position: 650px;
    background-position-y: 132px;
}

.plan .plan__devices {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bolder;
    color: #3D4F9F;
}

.plan .plan__slogan {
    margin: 0;
    padding: 0;
    margin-top: 24px;

    font-size: 36px;
    color: #3D4F9F;
    font-weight: lighter;
}

.plan .plan__description {
    width: 413px;
    margin-top: 28px;

    line-height: 191%;
    color: #8D96BD;
}

.plan .plan__buttons {
    display: flex;
    align-items: flex-start;
    margin-top: 53px;
}

.plan__buttons .plan__video {
    padding-left: 23px;
    padding-right: 35px;
    position: relative;

    color: #fff;
    background-color: #4C85FF;
    border: none;
}

.plan__buttons .plan__video::before {
    content: "";
    position: absolute;
    width: 6.2px;
    height: 7.5px;
    top: 19px;
    left: 100px;

    background-image: url("img/play-active.svg");
    background-size: contain;
}

.plan__buttons .plan__video:hover,
.plan__buttons .plan__video:active {
    background-color: #fff;
    color: #4C85FF;
}

.plan__buttons .plan__video:hover::before {
    background-image: url("img/play.svg");
}

.plan__buttons .plan__features {
    color: #ADB4D2;

    margin-left: -1px;
    padding: 12px 24px;
    border-color: #D1D1E4;
}

.plan__buttons .plan__features:hover,
.plan__buttons .plan__features:active {
    color: #000;

    border-color: #000;
}