/* common */

body {
    margin: 0;
    padding: 0;

    font-family: 'Quicksand', Courier, monospace;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: black;
    transition-duration: 200ms;
}

a:hover,
a:active {
    color: #5E81FE;
}

.button {
    display: block;
    padding: 13px 22px;
    
    font-size: 13px;
    font-weight: bold;

    border: 1px solid;
    border-radius: 2px;
    transition-duration: 200ms;
}

.button:hover,
.button:active {
    color: #000;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

path {
    transition-duration: 200ms;
}

.wrap {
    width: 100%;
}

.slider-button {
    display: block;
    width: 8px;
    height: 8px;
    padding: 0;
    margin-right: 12px;

    background-color: #D1D6E3;
    border: none;
    border-radius: 50%;
}

.slider-button:hover,
.slider-button:active {
    background-color: #5E81FE;
}

.slider-button.active {
    background-color: #5E81FE;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/* header */

.main-header {
    display: flex;
    width: 1440px;
    min-height: 80px;
    margin: auto;
    align-items: flex-start;

    /* border: 1px dashed; */
}

.header__nav .nav__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 160px;
    position: relative;
}

.header__nav .nav__list::before {
    content: "";
    width: 26px;
    height: 26px;
    left: -55px;
    top: -2px;
    position: absolute;

    background-color: #5E81FE;
    border-radius: 50%;
}

.header__nav .nav__item {
    margin-left: 46px;
}

.nav__list a{
    font-size: 12px;
    font-weight: bold;
}

.nav__list a:hover,
.nav__list a:active{
    color: #5E81FE;
}

.main-header .header__services-list{
    display: flex;
    margin-left: 346px;
    margin-top: 30px;
}

.header__services-list .services-item {
    margin-left: 35px;
}

.services-item:hover path,
.services-item:active path {
    fill: #5E81FE;
}

.main-header .header__start-button {
    margin-left: 44px;
    margin-top: 19px;

    color: #5E81FE;
    background-color: #D2E1FF;
    border: none;
}

.main-header .header__start-button:hover {
    color: #D2E1FF;
    background-color: #5E81FE;
}

/* advantages */

.advantages {
    margin: auto;
    width: 1440px;
    min-height: 582px;
}

.advantages__wrap{
    background-color: #fff;
    background-image: url("img/header-back.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.advantages .advantages__item{
    padding-top: 92px;
}

.advantages .advantage__slogan {
    margin-left: 673px;

    text-transform: uppercase;
    font-size: 10px;
    font-weight: bolder;
    color: #3D4F9F;
}

.advantages .advantage__name {
    margin: 0;
    margin-top: 12px;
    margin-left: 420px;
    width: 600px;

    text-align: center;
    font-size: 48px;
    font-weight: lighter;
}

.advantages .advantage__description {
    width: 502px;
    margin-left: 469px;
    margin-top: 22px;

    line-height: 191%;
    text-align: center;
}

.advantages .advantage__button {
    display: block;
    width: 52px;
    height: 52px;
    margin-left: 694px;
    position: relative;

    border-radius: 50%;
    background-color: #fff;
}

.advantages .advantage__button::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 11px;
    top: 20px;
    left: 20px;
    
    background-image: url("img/play.svg");
}

.advantages .advantage__button:hover,
.advantages .advantage__button:active {
    background-color: #5E81FE;
}


.advantages .advantage__button:hover::before,
.advantages .advantage__button:active::before {
    background-image: url("img/play-active.svg");
}

.advantages__slider__buttons-list {
    display: flex;
    margin-left: 696px;
    margin-top: 180px;
}

/* customers */

.customers {
    margin: auto;
    width: 1440px;
    min-height: 146px;
}

.customers .customers__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 58px;
    margin-left: 276px;
}

.customers__list .customers__item {
    margin-right: 76.5px;
}

.customers__list .customers__item:hover path {
    fill: #5E81FE;
}

/* plan */

.plan__wrap {
    background-color: #F5F8FF;
}

.plan {
    width: 1440px;
    height: 590px;
    margin: auto;
    padding-top: 208px;
    padding-left: 332px;

    background-image: url("img/plan-illustration.png");
    background-repeat: no-repeat;
    background-position: 650px;
    background-position-y: 132px;
}

.plan .plan__devices {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bolder;
    color: #3D4F9F;
}

.plan .plan__slogan {
    margin: 0;
    padding: 0;
    margin-top: 24px;

    font-size: 36px;
    color: #3D4F9F;
    font-weight: lighter;
}

.plan .plan__description {
    width: 413px;
    margin-top: 28px;

    line-height: 191%;
    color: #8D96BD;
}

.plan .plan__buttons {
    display: flex;
    align-items: flex-start;
    margin-top: 53px;
}

.plan__buttons .plan__video {
    padding-left: 23px;
    padding-right: 35px;
    position: relative;

    color: #fff;
    background-color: #4C85FF;
    border: none;
}

.plan__buttons .plan__video::before {
    content: "";
    position: absolute;
    width: 6.2px;
    height: 7.5px;
    top: 19px;
    left: 100px;

    background-image: url("img/play-active.svg");
    background-size: contain;
}

.plan__buttons .plan__video:hover,
.plan__buttons .plan__video:active {
    background-color: #fff;
    color: #4C85FF;
}

.plan__buttons .plan__video:hover::before {
    background-image: url("img/play.svg");
}

.plan__buttons .plan__features {
    color: #ADB4D2;

    margin-left: -1px;
    padding: 12px 24px;
    border-color: #D1D1E4;
}

.plan__buttons .plan__features:hover,
.plan__buttons .plan__features:active {
    color: #000;

    border-color: #000;
}

/* features */

.features {
    background-image: url("img/features-back.png");
    width: 1440px;
    min-height: 733px;
    margin: auto;
    background-size: cover;
    padding-top: 171px;
}

.features .features__name {
    margin: 0;
    padding: 0;

    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bolder;
    color: #3D4F9F;
}

.features .features__slogan {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    display: block;

    color: #3D4F9F;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
}

.features .features__list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 761px;
    margin: auto;
    margin-top: 194px;
}

.features__list .features__item {
    width: 140px;
    min-height: 254px;
    position: relative;
}

.features__item .item__name {
    text-align: center;
    font-size: 14px;
    color: #4074F8;
}

.features__item .item__description {
    margin-top: 28px;
    line-height: 177%;
    text-align: center;
    font-size: 11px;
    color: #ADB3CB;
}

.features__item::before {
    content: "";
    width: 69px;
    height: 69px;
    top: -95px;
    left: 35px;
    position: absolute;
}

.features__item.overview::before {
    background-image: url("img/overview.svg");
}
.features__item.files::before {
    background-image: url("img/files.svg");
}
.features__item.meeting::before {
    background-image: url("img/meeting-chats.svg");
}
.features__item.save::before {
    background-image: url("img/save-events.svg");
}

.features__buttons {
    display: flex;
    justify-content: space-between;
    width: 337px;
    margin: auto;
    margin-top: 4px;
}

.features__buttons .features__readmore-button {
    border: none;
    background-color: #FFD7D7;
    color: #D43F3F;
}

.features__buttons .features__readmore-button:hover,
.features__buttons .features__readmore-button:active {
    background-color: #D43F3F;
    color: #FFD7D7;
}

.features__buttons .features__devider {
    margin-top: 12px;
    position: relative;

    text-transform: uppercase;
    font-size: 11px;
}

.features__buttons .features__devider::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 0px;
    left: -30px;
    top: 8px;

    border: 0.5px solid #DAE4FE;
}

.features__buttons .features__devider::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 0px;
    left: 30px;
    top: 8px;

    border: 0.5px solid #DAE4FE;
}

.features__buttons .features__get-started-button {
    border: none;
    background-color: #D2E1FF;
    color: #3A79FF;
}

.features__buttons .features__get-started-button:hover,
.features__buttons .features__get-started-button:active {
    background-color: #3A79FF;
    color: #D2E1FF;
}

/* stats */

.stats {
    width: 100%;
}

.stats__list {
    display: flex;
    justify-content: center;
    min-height: 350px;
}

.stats .stats__productivity-stat {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    background-color: #5E80FF;
    color: #fff;
}

.stats .stats__users-stat {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: #D8E3FE;
    color: #5E80FF;
}

.stats__list .stats__index {
    font-size: 48px;
    margin-top: 158px;
    width: 260px;
}

.stats__productivity-stat .stats__index {
    margin-right: 96px;
    text-align: right;
}

.stats__users-stat .stats__index {
    margin-left: 96px;
}

.stats__list .stats__description {
    font-size: 18px;
    width: 250px;
}

.stats__productivity-stat .stats__description {
    margin-right: 96px;
    text-align: right;
}

.stats__users-stat .stats__description {
    margin-left: 96px;
}

.stats__list li {
    position: relative;
}

.stats__productivity-stat::before {
    content: "";
    width: 67px;
    height: 66px;
    top: 66px;
    right: 90px;
    position: absolute;

    background-image: url("img/productivity-stat.svg");
}

.stats__users-stat::before {
    content: "";
    width: 74px;
    height: 62px;
    top: 66px;
    left: 90px;
    position: absolute;

    background-image: url("img/people-stat.svg");
}

/* blog */

.blog__wrap {
    background-color: #F5F8FF;
}

.blog {
    width: 1440px;
    margin: auto;
    min-height: 778px;
    padding-top: 104px;
    position: relative;
}

.blog .blog__name {
    margin: 0;
    padding: 0;

    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bolder;
    color: #3D4F9F;
}

.blog .blog__slogan {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    display: block;

    color: #3D4F9F;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
}

.blog__previous-slider-button {
    border: none;
    background: none;
    position: absolute;
    top: 450px;
    left: 125px;
}

.blog__previous-slider-button:hover path,
.blog__previous-slider-button:active path {
    stroke: #000000;
}

.blog__next-slider-button {
    border: none;
    background: none;
    position: absolute;
    top: 450px;
    right: 125px;

    transform: rotate(180deg);
}

.blog__next-slider-button:hover path,
.blog__next-slider-button:active path {
    stroke: #000000;
}

.blog .blog__slider__item {
    width: 971px;
    min-height: 398px;
    margin: auto;
    margin-top: 96px;
    display: flex;

    background-color: #fff;
    border: 1px solid #D8E3FE;
}


.blog__slider__item .item__pictures {
    display: flex;
    width: 407px;
    height: 267px;
    margin-top: 63px;
    margin-left: 35px;
    justify-content: space-between;
}


.blog__slider__item .item__pictures a {
    position: relative;
}

.blog__slider__item .pictures__second-column {
    display: flex;
    height: 267px;
    flex-direction: column;
    justify-content: space-between;
}

.blog__slider__item .item__picture-3 {
    margin-top: 10px;
}

.blog__slider__item .pictures__second-column a:hover::before {
    top: 30px;
    left: 30px;
}

.blog__slider__item .item__pictures a:hover::before {
    content: "";
    width: 65px;
    height: 65px;
    position: absolute;

    background-image: url("img/search-ico.svg");
}


.blog__slider__item .item__picture-1:hover::before {
    top: 101px;
    left: 101px;
}

.blog__slider__item .item__content{
    width: 440px;
    margin-top: 61px;
    margin-left: 72px;
}

.blog__slider__item .item__name {
    margin: 0;

    color: #3D4F9F;
    font-size: 36px;
    font-weight: normal;
}

.blog__slider__item .item__description {
    margin-top: 25px;

    color: #8D96BD;
    line-height: 191%;
}

.blog__slider__item .content__buttons {
    margin-top: 40px;
    display: flex;
    width: 305px;
    justify-content: space-between;
}

.blog__slider__item .item__read-now-button {
    color: #3A79FF;
    padding: 13px 26px;

    border: none;
    background-color: #D2E1FF;
}

.blog__slider__item .item__read-now-button:hover,
.blog__slider__item .item__read-now-button:active {
    color: #D2E1FF;

    background-color: #3A79FF;
} 

.blog__slider__item .item__add-to-bookmarks-button {
    color: #A6B6DA;

    border: none;
    background-color: #fff;
}

.blog__slider__item .item__add-to-bookmarks-button:hover {
    color: black;
    
    cursor: pointer;
}

.blog__slider__buttons-list {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 101px;
}

/* quotes */

.quotes__wrap {
    background-color: #EAF0FF;
}

.quotes {
    display: flex;
    width: 1440px;
    margin: auto;
    min-height: 489px;
}

.quotes__info {
    margin-top: 149px;
    margin-left: 267px;
}

.quotes__info .quotes__name {
    margin: 0;
    padding: 0;

    text-transform: uppercase;
    font-size: 10px;
    font-weight: bolder;
    color: #3D4F9F;
}

.quotes__info .quotes__slogan {
    margin: 0;
    padding: 0;
    margin-top: 34px;
    display: block;

    color: #3D4F9F;
    font-size: 36px;
    font-weight: bold;
}

.quotes__info .quotes__description {
    margin-top: 18px;
    width: 333px;

    color: #A4ABC8;
}

.quotes__slider {
    width: 455px;
    margin-left: 30px;
    position: relative;
}

.quotes__slider__list .quotes__slider__item {
    margin-top: 110px;
    margin-left: 105px;
    width: 430px;
    min-height: 178px;
    position: relative;

    transition-duration: 1s;
    background-color: #fff;
}

.quotes__slider__item .item__description {
    padding-top: 41px;
    padding-left: 69px;
    padding-right: 71px;

    font-size: 14px;
    line-height: 171.1%;
    color: #676F95;
}

.quotes__slider__item .item__avatar {
    position: absolute;
    left: 183px;
    top: 150px;
}

.quotes__slider__list .quotes__slider__item.next {
    position: absolute;
    right: -580px;
    top: 0px;

    opacity: 0.45;
    transition-duration: 1s;
}

.quotes .quotes__slider__buttons-list {
    display: flex;
    margin-top: 80px;
    margin-left: 234px;
}

/* faq */

.faq {
    width: 1440px;
    min-height: 984px;
    margin: auto;
}

.faq .faq__name {
    padding: 0;
    margin-top: 180px;

    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bolder;
    color: #3D4F9F;
}

.faq .faq__slogan {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    display: block;

    color: #3D4F9F;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
}

.faq__list {
    width: 743px;
    margin: auto;
    margin-top: 83px;
}

.faq__item {
    margin-left: 48px;
    margin-top: 58px;
    position: relative;
}

.faq__item::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: -55px;
    width: 741px;
    height: 0px;

    border: 0.5px solid #D8E3FE;
}

.faq__item .item__name{
    position: relative;
    
    color: #8E96B7;
    font-size: 15px;
    font-weight: bolder;

    border: none;
    background-color: #fff;
}

.faq__item .item__name:hover,
.faq__item .item__name:active {
    cursor: pointer;
}

.faq__item .item__name::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 10px;
    left: -35px;
    top: 3px;

    background-image: url("img/faq-button.svg");
}

.faq__item.active .item__name::before {
    background-image: url("img/faq-button-active.svg");
}

.faq__item.active .item__name {
    color: #495274;
}

.faq__item .item__content {
    display: none;
}

.faq__item.active .item__content {
    display: flex;
    align-items: flex-start;
}

.faq__item .item__description {
    width: 420px;

    color: #8D96BD;
    line-height: 191%;
    margin-top: 21px;
    margin-left: 24px;
}

.faq__item .item__documentation-button {
    margin-left: 44px;
    margin-top: 32px;
    padding: 13px 32px;

    color: #7382A3;

    background-color: #E8ECF4;
    border: none;
}

.faq__item .item__documentation-button:hover,
.faq__item .item__documentation-button:active {
    color: #E8ECF4;

    background-color: #7382A3;
}